@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hotel Managment System</h1>
    <p class="lead">Курсова робота з баз даних студентки групи ІС-13 Сидоренко Олександри</p>
</div>
